<h1> Events on <%=params[:format]%> <h1>

<br>

  <table>
    <tbody>
      <tr>
        <th width = "400">Title</th>
        <th width = "150">Date</th>
        <th width = "150">Time</th>
        <th width = "200">Location</th>
        <th width = "200">Type</th>
        <th width = "150">Like</th>
      <tr>
      <% @events.each do |event| %>
        <tr>

          <% if params[:format].to_s == event.sdate %>
          <td><%= link_to event.title, events_detail_path(event.id) %></td>
          <td><%= event.sdate %></td>
          <td><%= event.stime %></td>
          <td><%= Location.find(event.Location_id).name %></td>
          <td><%= Type.find(event.Type_id).name %></td>
          <td><%= check_box(:Event,{:id => "Event",:value => "Event"}) %>
          <% end %>
        <tr>
      <% end %>
    </tbody>
  <table>
  <br>
  <%= link_to 'Back', calendar_show_path %>
  <br>
  <br>
  <%= link_to 'Home', root_url %>
  <body style="background-color:#999999;">
    </body>
