<h1> Events on <%=params[:format]%> <h1>

<br>

  <table>
    <tbody>
      <tr>
        <th width = "250">Title</th>
        <th width = "250">Date</th>
        <th width = "250">Time</th>
        <th width = "250">Location</th>
        <th width = "250">Type</th>
      <tr>
      <% @events.each do |event| %>
        <tr>
          <% if params[:format].to_s == event.day.to_s %>
          <td><%= event.title %></td>
          <td><%= event.day %></td>
          <td><%= event.stime %></td>
          <% @locations.each do |location| %>
            <td><%= Location.find(event.Location_id = location.id).name %></td>
          <% end %>
          <% @types.each do |type| %>
            <td><%= Type.find(event.Type_id = type.id).name %></td>
          <% end %>
          <% end %>
        <tr>
      <% end %>
    </tbody>
  <table>
  <br>
  <%= link_to 'Back', calendar_show_path %>
  <br>
  <br>
  <%= link_to 'Home', root_url %>
  <body style="background-color:#999999;">
    </body>
